.aside-section {
  .icon-container {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    padding: 0.75rem 1rem;
    margin-top: 0.15rem;
    &:hover {
      .text {
        color: black;
      }
    }
    .icon {
      background: #ffffff;
      color: #4fd1c5;
      border-radius: 12px;
      padding: 0.45rem 0.65rem;
    }
    .text {
      color: #a0aec0;
      font-weight: 700;
      font-size: 0.75rem;
      transition: all 100ms ease-in-out;
    }
  }
  .aside-section-inner {
    .logo {
      display: flex;
      justify-content: center;
    }
    //aside top section styling
    .aside-inner-top {
      .dashboard {
        background: #ffffff;
        border-radius: 15px;
        display: flex;
        gap: 0.75rem;
        align-items: center;
        padding: 0.75rem 1rem;
        margin-top: 1.40625rem;
        .dashboard-text-icon {
          background: #4fd1c5;
          color: white;
          border-radius: 12px;
          padding: 0.65rem;
        }
        .dashboard-text {
          font-family: "Poppins", sans-serif;
          font-weight: 700;
          font-size: 0.75rem;
        }
      }
    }
  }
  h3 {
    margin-top: 1.5rem;
    margin-left: 1rem;
    color: #2d3748;
    font-size: 0.75rem;
  }
  .aside-footer {
    padding: 1rem;
    background-image: url(../component/image.png);
    background-repeat: no-repeat;
    width: 100%;
    // height: 9.416rem;
    border-radius: 12px;

    background-size: cover;
    &-inner {
      .question {
        display: flex;

        &-inner {
          background: white;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 35px;
          width: 35px;
          border-radius: 12px;
          span {
            background: #4fd1c5;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
          }
        }
      }
      .question-text {
        margin-top: 1.34rem;
        .bold {
          color: #ffffff;
          font-size: 14px;
          font-weight: 700;
          line-height: 140%;
        }
        .light {
          font-weight: 400;
          font-size: 12px;
          color: #ffffff;
        }
      }
      .documentation {
        background-color: #ffffff;
        border-radius: 12px;
        padding-block: 10px;
        margin-top: 10.5px;
        p {
          margin: 0 3.078125rem;
          font-weight: 700;
        }
      }
    }
  }
}
