.aside-section {
  border: 1px solid red;
  .aside-section-inner {
    .logo {
      display: flex;
      justify-content: center;
    }
    .line {
      width: 233.25px;
      height: 2px;
      //   background: linear-gradient(
      //     to left,
      //     #e0e1e2 0% #e0e1e2 100% #e0e1e2 15.63%
      //   );
      background: red;
      margin: auto;
      margin-top: 2rem;
    }
    //aside top section styling
    .aside-inner-top {
      .dashboard {
        background: #ffffff;
        border-radius: 15px;
        display: flex;
        gap: 0.75rem;
        align-items: center;
        padding: 0.75rem 1rem;
        margin-top: 1.40625rem;
        .dashboard-text-icon {
          background: #4fd1c5;
          color: white;
          border-radius: 12px;
          padding: 0.65rem;
        }
        .dashboard-text {
          font-family: "Poppins", sans-serif;
          font-weight: 700;
          font-size: 0.75rem;
        }
      }
    }
  }
}
