.aside-section {
  .icon-container {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    padding: 0.75rem 1rem;
    margin-top: 0.15rem;
    .icon {
      background: #ffffff;
      color: #4fd1c5;
      border-radius: 12px;
      padding: 0.45rem 0.65rem;
    }
    .text {
      color: #a0aec0;
      font-weight: 700;
      font-size: 0.75rem;
    }
  }
  .aside-section-inner {
    .logo {
      display: flex;
      justify-content: center;
    }
    //aside top section styling
    .aside-inner-top {
      .dashboard {
        background: #ffffff;
        border-radius: 15px;
        display: flex;
        gap: 0.75rem;
        align-items: center;
        padding: 0.75rem 1rem;
        margin-top: 1.40625rem;
        .dashboard-text-icon {
          background: #4fd1c5;
          color: white;
          border-radius: 12px;
          padding: 0.65rem;
        }
        .dashboard-text {
          font-family: "Poppins", sans-serif;
          font-weight: 700;
          font-size: 0.75rem;
        }
      }
    }
  }
  h3 {
    margin-top: 1.5rem;
    margin-left: 1rem;
    color: #2d3748;
    font-size: 0.75rem;
  }
  .aside-footer {
    background-image: url(../component/image.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 9.416rem;
    background-size: cover;
    &-inner {
      .question {
        background: white;
        padding: 0.472rem;
        span {
          background: #4fd1c5;
        }
      }
    }
  }
}
