@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e5e5e5;
}
.frontlayout {
  margin-inline: 2rem;
  margin-block: 1rem;
  display: grid;
  grid-template-columns: 15% auto;
  gap: 2.9rem;
}
